@model WorkplaceOfSecretary.Models.Committee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Committee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="SebID" class="control-label"></label>
                <select asp-for="SebID" class="form-control" asp-items="ViewBag.SebID"></select>
                <span asp-validation-for="SebID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChairpersonID" class="control-label"></label>
                <select asp-for="ChairpersonID" class="form-control" asp-items="ViewBag.ChairpersonID"></select>
                <span asp-validation-for="ChairpersonID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecretaryID" class="control-label"></label>
                <select asp-for="SecretaryID" class="form-control" asp-items="ViewBag.SecretaryID"></select>
                <span asp-validation-for="SecretaryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberOneID" class="control-label"></label>
                <select asp-for="MemberOneID" class="form-control" asp-items="ViewBag.MemberOneID"></select>
                <span asp-validation-for="MemberOneID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberTwoID" class="control-label"></label>
                <select asp-for="MemberTwoID" class="form-control" asp-items="ViewBag.MemberTwoID"></select>
                <span asp-validation-for="MemberTwoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberThreeID" class="control-label"></label>
                <select asp-for="MemberThreeID" class="form-control" asp-items="ViewBag.MemberThreeID"></select>
                <span asp-validation-for="MemberThreeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
